= form_for [@topic,(@post||=Post.new)] do |f|
  =error_messages_for @post
  =f.label :body
  =f.text_area :body,class: 'span 8',rows: 5
  =f.submit nil,class: 'btn'
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg